.col-xs-12
  .form-inline
    .form-group.w-100
      label Filter Results
      .input-group.w-100
        input.form-control( type='text' name='$global' autocomplete='off' placeholder=placeholder || 'Search' )
        .btn.btn-secondary.input-group-addon( data-toggle='tooltip' data-placement='right' title='Clear Filter' data-click='clear' )
          i.fa.fa-fw.fa-times
