td= date
//- td= inspection_type

//- td= total_critical_violations
//- td= total_noncritical_violations

//- td= perm_operator_first_name
//- td= perm_operator_last_name

td
  if inspection_comments && violation_description

    i.fa.fa-fw.fa-warning
    | &nbsp;
    = violation_description

    | &nbsp;

    a(title=inspection_comments data-toggle='tooltip')
      i.fa.fa-fw.fa-comment
      | Inspector Comments

  else
    if violation_description

      i.fa.fa-fw.fa-warning
      | &nbsp;
      = violation_description

    else
      i.fa.fa-fw.fa-check
      | &nbsp;
      | Passed!

//- td= violation_description
//- td= inspection_comments

//- {
//-   "critical_violation":"Not Critical Violation",
//-   "date_of_inspection":"2009-08-11T00:00:00.000",

//-   "inspection_type":"Inspection",

//-   "local_health_department":"Glens Falls District Office",

//-   "total_crit_not_corrected":"0",
//-   "total_critical_violations":"1",
//-   "total_noncritical_violations":"6",

//-   "violation_description":"In use food dispensing utensils improperly stored",

//-   "violation_item":"8B"
//- }
