.col-xs-12
  p.lead Violation History

  table.table.table-bordered
    thead
      th Date
      //- th Type
      //- th Non-Critical
      //- th Critical
      //- th Owner First
      //- th Owner Last
      th Description
      th Comments

    tbody
